# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# Keep Gradle wrapper JAR
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
out/

# Logs
*.log
logs/

# Runtime / JVM
*.pid
*.hprof
hs_err_pid*

# Test reports / coverage
test-output/
jacoco/
*.exec